@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');


.testFont{
    font-family: 'Chivo Mono', monospace !important;
}
.display__home{
    height: 100%;
    width: 85%;
    margin: auto;
    div{
        border-radius: 5px;
    }
    ul{
        padding-left: 0;
    }
}

.project__element{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    h3:hover, .project__entrega:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .project__entrega{
        display: inline-block;
        padding: 15px;
    }
    .project__link{
        color: black;
    }
    
    .button-to_see_project{
        width: 8rem;
        margin-right: 2rem;

        cursor: pointer;
        border-color: #1d2d50;
        color: white;
    }
    .button-to_see_project:hover{
        background-color: rgba(29, 45, 80, 0);
        color: #CBD5E0;

    }
}