h2, h3, h4, p{
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.activity{
    background-color: white;
    border-radius: 10px;
    padding: 18px;
    position: relative;
}

.cronograma{
    padding: 10px;
    background-color: #00325F;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 9px 5px 5px rgba(0,0,0,0.11);
}

.cronograma div:nth-child(n) {
    margin-top: 5px;
}

.section__cronograma-container{
    background-color: white;
    border-radius: 10px;
    padding: 18px;
    margin-top: 1rem;
    overflow: scroll;
}
.section__cronograma-delete-button{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
}